h1 {
    text-align: center;
}
#img-div {
    background-color: white;
    text-align: center;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 8px;
    margin: 20px auto;
}
#img-caption {
    margin: 20px auto;
    padding-bottom: 10px;
}
